
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header p {
  max-width: 50%;
}

.wireframe {
  display: flex;
  justify-content: space-between;
}

.wireframe div {
  width: 48%;
}
